@import url("https://fonts.maateen.me/kalpurush/font.css");
@import url('https://fonts.maateen.me/solaiman-lipi/font.css');
@import url("https://fonts.maateen.me/bangla/font.css");


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* font-family: 'Kalpurush', sans-serif; */

:root {
  --bg-primary: #03396c;
  --bg-primary-dark: #011f4b;
  --bg-primary-fade: #005b96;
  --blue-grey: #e1ddeb;
  --grey-light: #d9e3e9;
  --light-blue-bg: #2edaff;
  --green-accent: #FDA403;
  --headline-font: 16px;
}

.bg-primary {
  background-color: #03396c;
}

.bg-primary-dark {
  background-color: #011f4b;
}

.bg-primary-fade {
  background-color: #005b96;
}

.blue-grey {
  background-color: #e1ddeb;
}

.grey-light {
  background-color: #d9e3e9;
}

.green-accent {
  background-color: #FDA403;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "SolaimanLipi", "Poppins", sans-serif;
  background-image: url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 16px;
}

.section-heading {
  background-color: blue;
  color: white;
  padding: 10px 0 8px 32px;
  margin-bottom: 32px;
}

.title {
  font-size: var(--headline-font);
  background-color: var(--bg-primary-dark);
  color: white;
  padding: 8px 15px;
  margin-top: 80px;
  margin-bottom: 30px;
}

.rounded-title {
  font-size: var(--headline-font);
  background-color: var(--green-accent);
  color: white;
  padding: 5px 10px;
  padding-right: 35px;
  padding-top: 10px;
  margin-bottom: 0;
  display: inline-block;
  border-top-right-radius: 50px;
}

.hr-rule {
  height: 3px;
  background-color: var(--green-accent);
  margin-bottom: 0;
}

.see-more > p{
  display: flex;
  align-items: center;
  text-align: end;
  margin: 0;
}

.see-more > p::before{
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--light-blue-bg);
}

.sc-item{
  background-color: var(--blue-grey);
  padding: 16px;
  text-align: center;
}

.sc-item:hover{
  background-color: var(--bg-primary);
  color: white;
  transition: all 500ms;
}

.sc-item > i{
  
  padding-top: 6px;
}

.sidebar-header {
  background-color: var(--bg-primary-dark);
  color: var(--grey-light);
  text-align: center;
  padding: 10px 0;
  margin-bottom: 15px;
}

.sidebar-link{
  font-size: 14px !important;
  
}

.sidebar-see-all{
  border-bottom-left-radius: 36px;
  background-color: var(--green-accent);
}

/* Navbar */

nav{
  position: sticky !important;
  top: 0 !important;
}
.nav-item {
  padding-left: 10px;
  padding-right: 10px;
  font-size: var(--headline-font);
  transition: all 300ms;
}

.nav-item:hover {
  padding-left: 10px;
  padding-right: 10px;
  background: var(--bg-primary);
}

/* Hero Section */

.carousel-item {
  height: 350px;
}

.carousel-item {
  background-color: #005b96;
}

.carousel-item img {
  mix-blend-mode: overlay;
}

.breaking-title{
  background-color: var(--green-accent);
  font-weight: bold;
}

/* About us */

.about-us {
  background-color: var(--light-blue-bg);
}
.about-content .about-description {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 17; 
  -webkit-line-clamp: 17; 
  -webkit-box-orient: vertical;
}
.about-img {
  height: 450px;
}

/* Speech */

.speech-item {
  /* height: 420px; */
}
.speech-img {
  /* height: 320px; */
  width: 100%;
}

.speech-img > img {
  height: 320px;
}
.speech-content > p {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 15; 
  -webkit-line-clamp: 15; 
  -webkit-box-orient: vertical;
}

/* Feature Section */

.feature-title-img {
  box-shadow: 10px 10px 0 0px var(--bg-primary);
  height: 150px;
}

.dotted-hr {
  border: none;
  border-bottom: 2px solid var(--bg-primary-fade);
}

.feature-img-right {
  box-shadow: -10px 10px 0 0px var(--bg-primary);
  height: 550px;
}

.speech-right-sidebar {
  height: 420px;
}

/* Photo Gallery */

.gallery-item {
  overflow: hidden;
  height: 225px;
  width: 100%;
}

.gallery-item > img {
  overflow: hidden;
  transition: all 2s;
}

.gallery-item:hover > img {
  transform: scale(1.2);
}
/* Team Section  */

.team-member .pro-pic {
  height: 225px;
}
.social-icon {
  background-color: var(--bg-primary-dark);
  color: white;
  padding: 8px 0;
  text-align: center;
  position: relative;
  margin: 0 20px;
  margin-top: -25px;
}

.social-icon a {
  display: inline-block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  border: 1px solid white;
  color: white;
  text-align: center;
  border-radius: 10px;
  transition: all 700ms;
}

.social-icon a:hover {
  color: blue;
  background-color: white;
}

/* Achievement */

.achievement-img {
  height: 520px;
}

/* Sidebar */

.download-corner .item {
  padding: 10px 10px 6px 10px;
}

/* Sidebar Notice */

.nb-title{
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

/* ========================================
          footer
===========================================*/
footer{
  background: linear-gradient(to bottom, rgba(65, 29, 93, 0.949) 0%, rgba(65, 29, 93, 0.949) 100%), url("https://images.pexels.com/photos/19820294/pexels-photo-19820294/free-photo-of-a-river-in-the-woods-with-trees-and-water.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.important-links > li > a {
    text-decoration: none;
    color: wheat;
}

.footer-h-rule {
  height: 3px;
  background-color: var(--green-accent);
  margin-bottom: 25px;
}